<!DOCTYPE HTML>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<html xmlns:th="https://www.thymeleaf.org">
<body>
Welcome to Forum!
<button value="sign_in" onclick="javascript:window.location.href='../login'">Sign In</button>
<button value="sign_up" onclick="javascript:window.location.href='../register'">Sign Up</button>
<table id="questions" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 200px;">Title</th>
        <th style="width: 2000px;">Description</th>
        <th style="width: 200px;">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${questions}">
<!--        <td><a href='../question_detail/{${question.id}}' th:text=${question.title}></a></td>-->
        <td><a th:href="@{'/question_detail/'+ ${question.id}}" th:text=${question.title}></a></td>
        <td th:text=${question.description}/>
        <td th:text=${question.create_time}/>
    </tr>
    </tbody>
</table>
<button value="create_question" onclick="javascript:window.location.href='../create_question'">Create Question</button><br/>
</body>
</html>