<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<button onclick="javascript:window.location.href='../home'">Back</button>
<form th:action="@{/sign_in}" method="get">
    Log In to Your Account<br/>
    Phone Number：<input type="text" th:id="username" th:name="username"><br/>
    Password：<input type="password" th:id="password" th:name="password"><br/>
    <button type="submit">Login</button>
</form>
</body>
</html>