<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<button onclick="javascript:window.location.href='../home'">Back</button>
<form th:action="@{/sign_up}" method="get">
    Sign Up<br/>
    Phone Number: <input type="text" th:id="username" th:name="username"><br/>
    Password：<input type="password" th:id="password" th:name="password"><br/>
    Confirm Password: <input type="password" ><br/>
    <button type="submit">Sign Up</button>
</form>
</body>
</html>